
.dropdown-item {

    color: var(--bs-neutral-500) !important;
    display: flex ;

    &:hover {
        color: var(--bs-neutral-900) !important ;
        background-color: var(--bs-neutral-200) !important;
    }

    &:hover > svg {
        stroke : var(--bs-neutral-900) ;
    }

    &:active {
        color: #fff !important;
        background-color: var(--bs-primary) !important;
    }

    &:active > svg {
        stroke : #fff ;
    }
}