.sidebar-item {
    position: relative ;

    &:hover {
        background-color: var(--bs-primary) !important ;
    }

    &:hover .sidebar-item-title{
        color: #fff !important ;
    }

    &:is(.active) > svg {
        stroke: var(--bs-primary) ;
    }

    &:is(.active)::before {
        position: absolute ;
        content: "" ;
        right: 0.5rem ;
        top: 50% ;
        transform: translate(-50%,-50%);
        height: 1.5rem ;
        width: 0.3rem ;
        border-radius: 999px ;
        background-color: var(--bs-primary) ;
    }

    &:is(.active):hover::before {
        background-color: #fff ;
    }

    &:hover svg {
        stroke: #fff !important ;
    }

    svg {
        stroke: var(--bs-neutral-500);
    }
}
