* {
    padding:0;
    margin :0;
    box-sizing:border-box
}

html,body {
    font-family: "Nunito", sans-serif !important ;
}

.btn {
    display: flex !important;
    align-items: center ;
    font-weight: 600 !important ;
    letter-spacing: 0.5px ;
}

.btn-48 {
    height: 2.5rem ;
}

.btn-hollow {
    color: var(--bs-neutral-500) !important;

    &:hover {
        background-color: var(--bs-neutral-200) !important;
        color: var(--bs-neutral-900) !important;
    }
}

.btn-hollow-danger {
    color: var(--bs-danger) !important;
    background-color: var(--bs-danger-light) !important;

    &:hover {
        background-color: var(--bs-danger) !important;
        color: var(--bs-white) !important;
    }
}

.btn-hollow-safe {
    color: var(--bs-safe) !important;
    background-color: var(--bs-safe-light) !important;

    &:hover {
        background-color: var(--bs-safe) !important;
        color: var(--bs-white) !important;
    }
}


h1,h2,h3,h4,h5,h6 {
    font-weight: 800 !important ;
    margin: 0 !important ;
}

.shadow-sm {
    box-shadow: 0px 3px 6px 0px hsla(0, 0%, 0%, 0.1);
}

.shadow-md {
    box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.1);
}

.shadow-lg {
    box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.2);
}

.grow-on-hover:hover {
    transform: scale(1.01);
    transition: transform 100ms ease-out ;
}

.cursor-pointer {
    cursor: pointer ;
}

.btn-hollow {
    background-color: transparent ;
    color: var(--bs-neutral-500);
}

.btn-hollow:hover {
    background-color: var(--bs-neutral-200) ;
    color: var(--bs-neutral-900);
}

.btn-hollow > svg {
    stroke: var(--bs-neutral-500 );
}

.btn-hollow:hover > svg {
    stroke: var(--bs-neutral-900 );
}

.fw-900 {
    font-weight: 900 !important ;
}

